[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"

[packages]
flask = "*"
python-dotenv = "*"
pybars3 = "*"
mysql-connector-python = "*"
flask-cors = "*"
pandas = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
